.heroes {
    display: flex;
    flex-wrap: wrap;

    .hero {
        padding: .5rem;
        border-radius: 5px;
    }

    .badge {
        background-color: lightblue;
        padding: .2rem;
    }

    .selected {
        background-color: lightslategrey;
    }
}